//Background Color
$bodyColor: #F6F3F0;
$navColor:#fff;

//fonts Color
$signatureColor:#3FB6AF;
$signatureColorLight:#41c6bf;
$fadeOut:#675A5A;
$titleColor:#1B1919;
$sigTitleFontColor:#0998AB;
$sigFonColor:#086370;


//Button color
$btnColor:#0998AB;
$btnFontColor:#fff;



