@import "../../variables/variables.scss";
@import "../../mixins/mixins";
body{
    width:100vw;
    height: 100vh;
    background-color: gray;
}
.container{
    height: 100vh;
    display: flex;
    .login-img{
        background-image: url("https://img.freepik.com/free-vector/happy-student-concept-illustration_114360-8328.jpg?w=2000");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width:60%;
    }   
    .login-form{
        width:40%;
    }
}

.login-form{
    display: grid;
    place-items: center;
    .options{
        width:100%;
        display: flex;
        margin: 12px auto;
        justify-content: space-between;
        a{
            text-decoration: none;
            color:rgb(35, 35, 35);
            font-size: 11px;
        }
    }
    .frm{
        position: relative;
        background-color: rgb(255, 255, 255);
        // border: 1px solid rgb(68, 212, 241);
        height:18rem;
        width:80%;
        border-radius: 12px;
        button{
            position: absolute;
            right:22px;
            bottom:10px;
            @include button-style
        }
        .frm-bs{
            // background-color: red;
            width:80%;
            margin:auto;
            h2{
                margin-top:20px;
                margin-bottom:0;
                color:$signatureColor;
            }
            p{
                margin:0;   
                margin-bottom:20px;
                font-size: 11px;
                color:$signatureColor;
            }
            .inp-kit{
                label{
                    font-size:12px;
                    font-weight:bolder ;
                    color:$signatureColor;
                }
                .err{
                    
                    background-color: red;
                    width:80%;
                    margin: auto;
                    font-size: 13px;
                    color:#fff;
                    height:fit-content;
                    // padding: 2px;
                    border-radius: 3px 3px 0 0;
                    text-align: center;
                    // display: none;  
                }
                // background-color: blue;
                width:100%;
                .inp{
                    position: relative;
                    display:flex;
                    width:100%;
                    border:1px solid $signatureColor;
                    height: 100%;
                    border-radius:8px;
                    overflow: hidden;
                    .fa-eye,.fa-eye-slash{
                        position: absolute;
                        right:.5rem;
                        top:0.4rem;
                        color:gray;
                        cursor: pointer;
                    }
                    .logo{
                        width:30px;
                        height: 30px;
                        display: grid;
                        place-items: center;
                        background-color:$signatureColor;
                        i{
                            color:#fff;
                            font-size:12px;
                        }
                    }
                    input{
                        outline:none;
                        border:none;
                        width:100%;
                    }
                }
            }
        }
    }
    
}


@media screen and (max-width: 768px) {
    .container{
        .login-img{
            background-color:greenyellow;
            min-width:100%;
            margin: 0;
        }   
        .login-form{
            background-color:transparent;
            display: grid;
            place-items: center;
            position: absolute;
            height: 100vh;
            min-width:100%;
            .frm{
                border-radius: 12px;
            }
        }
    }
    
}