@import "../../mixins/mixins";

.content{
    margin-bottom:5rem ;
    .data{
        padding: 20px;
        display: flex;
        align-items: center;
        gap:3rem;
        a{
          @include link-style;
        }
        @media screen and (max-width:768px){
          position: relative;
            flex-direction: column;
            
        }
        img{
            width:15rem;
            height:15rem;
            object-fit: cover;
            border-radius:50%;
        }
        .details{
            display: flex;
            flex-direction: column;
            justify-content: center;
            color:rgb(54, 27, 27);
            gap:1rem;
            
            // border:2px solid white;
            select{
                @include select-style;
            }
            button{
                @include button-style;
            }
            
        }
        .refer{
          display: flex;
          gap:1rem;
          align-items: center;
        }
        .slotPreview{
          margin-top: 1rem;
          display: flex;
          gap:1rem;
          color:rgb(255, 255, 255);
          font-weight: 600;
          .tile-slot{
            padding:12px;
            border-radius: 12px;
          }
          .red{
            background-color: rgba(255, 145, 0, 0.853);
           }
           .blue{
            background-color: rgba(35, 201, 187, 0.849);
           }
        }
         @keyframes pulsatingGlow {
                0% {
                  box-shadow: 0 0 0 0 $signatureColor;
                }
                100% {
                  box-shadow: 0 0 0 1rem rgba(#ff5733, 0);
                }
              }
              
        .dett{
            // background-color: rgba(19, 194, 194, 0.493);
            border : 2px solid rgba(19, 194, 194, 0.493);
            color:rgb(19, 194, 194);
            font-weight: 100;
            padding:1rem;
            border-radius:12px;
            height: fit-content;
            letter-spacing: .2rem;
            animation: pulsatingGlow 2s infinite;
            @keyframes shakeAnimation {
                0%, 100% {
                  transform: translateX(0);
                }
                10%, 30%, 50%{
                  transform: translateX(-5px);
                }
                20%, 40%, 60%, 80% {
                  transform: translateX(5px);
                }
              }
            span{
                color:rgb(15, 201, 201);;
                display: inline-block;
                animation: shakeAnimation 2s infinite;
            }
          }
          .booked{
            background-color: rgb(103, 154, 158);
            padding: 20px;
            color:rgb(255, 255, 255);
            font-weight: 700;
            letter-spacing: 1rem;
            cursor:pointer;
          }
          @keyframes shake {
            0%, 100% {
              transform: translateX(0);
            }
            10%, 30%, 50%, 70%, 90% {
              transform: translateX(-10px);
            }
            20%, 40%, 60%, 80% {
              transform: translateX(10px);
            }
          }
          
          .shake {
            animation: shake 0.5s;
          }
    }
}